@model IEnumerable<VeterinariaFramework.Models.Colaborador>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Lista de colaboradores</title>
    <style>
        .btn-action {
            width: 100px;
        }

        table {
            padding: 0;
        }

        td.action-cell {
            width: 100px;
        }
    </style>
</head>
<body>
    <h1>Lista de Colaboradores</h1>
    <div>
        @Html.ActionLink("Nuevo colaborador", "Create", null, new { @class = "btn btn-success" })
    </div>
    <table id="colaboradores" class="table table-striped">
        <thead>
            <tr>
                <th>Tipo de documento</th>
                <th>Documento de identificación</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Cargo</th>
                <th>Especialidad</th>
                <th align="center" colspan="3">Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var colaborador in Model)
            {
                <tr>
                    <td>
                        @switch (colaborador.TipoDocumento)
                        {
                            case "CC":
                                <text>Cedula</text>
                                break;
                            case "TI":
                                <text>Targeta de identidad</text>
                                break;
                            case "PT":
                                <text>Pasaporte</text>
                                break;
                            case "CE":
                                <text>Cedula de extranjeria</text>
                                break;
                            default:
                                <text>@colaborador.TipoDocumento</text>
                                break;
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => colaborador.DocumentoIdentificacion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => colaborador.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => colaborador.Apellido)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => colaborador.Cargo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => colaborador.Especialidad)
                    </td>
                    <td class="action-cell">
                        @Html.ActionLink("Edit", "Edit", new { id = colaborador.Id }, new { @class = "btn btn-primary btn-action" })
                    </td>
                    <td class="action-cell">
                        @Html.ActionLink("Details", "Details", new { id = colaborador.Id }, new { @class = "btn btn-info btn-action" })
                    </td>
                    <td class="action-cell">
                        @Html.ActionLink("Delete", "Delete", new { id = colaborador.Id }, new { @class = "btn btn-danger btn-action" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>

