@model VeterinariaFramework.Models.Mascota

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Mascota</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Usuario.Nombre)
        </dt>

        <dd class = "form-control">
            @Html.DisplayFor(model => model.Usuario.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd class = "form-control">
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Raza)
        </dt>

        <dd class = "form-control">
            @Html.DisplayFor(model => model.Raza)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sexo)
        </dt>
        <dd>
            @if (Convert.ToInt32(Model.Sexo) == 0)
            {
                <dd class = "form-control">Macho</dd>
            }
            else
            {
                <dd class = "form-control">Hembra</dd>
            }
        </dd>



    </dl>
</div>
<div>
   <a href="@Url.Action("Index")" class="btn btn-success">Regresar a la lista</a>
</div>
