@model IEnumerable<VeterinariaFramework.Models.Mascota>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista de mascotas</h2>

<p>
    <a href="@Url.Action("Create")" class="btn btn-success">Crear mascota</a>
</p>
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Usuario.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Raza)
        </th>
        <th>
            Sexo
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Raza)
            </td>
            <td>
                @if (item.Sexo == "0")
                {
                    <span>Macho</span>
                }
                else if (item.Sexo == "1")
                {
                    <span>Hembra</span>
                }
                else
                {
                    <span>Desconocido</span>
                }
            </td>
            <td>
                <a href="@Url.Action("Edit", new { id=item.MascotaId })" class="btn btn-primary">Modificar</a>
                <a href="@Url.Action("Details", new { id=item.MascotaId })" class="btn btn-info">Detalles</a>
                <a href="@Url.Action("Delete", new { id=item.MascotaId })" class="btn btn-danger">Borrar</a>         
            </td>
        </tr>
    }

</table>
