@model IEnumerable<VeterinariaFramework.Models.Mascota>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Mascotas</title>
    <style>
        .btn-action {
            width: 100px;
        }

        table {
            padding: 0;
        }

        td.action-cell {
            width: 100px;
        }
    </style>
</head>
<body>

    @{
        ViewBag.Title = "Index";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h2>Index</h2>


    <table class="table table-striped" id="mascotas">
        <thead>
            <tr>
                <th>
                    Propietario
                </th>
                <th>
                    Nombre
                </th>
                <th>
                    Raza
                </th>
                <th align="center" colspan="3">
                    Operaciones
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var mascota in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => mascota.Usuario.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => mascota.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => mascota.Raza)
                    </td>
                    <td class="action-cell">
                        @Html.ActionLink("Edit", "Edit", new { id = mascota.MascotaId }, new { @class = "btn btn-primary btn-action" })
                    </td>
                    <td class="action-cell">
                        @Html.ActionLink("Details", "Details", new { id = mascota.MascotaId }, new { @class = "btn btn-info btn-action" })
                    </td>
                    <td class="action-cell">
                        @Html.ActionLink("Delete", "Delete", new { id = mascota.MascotaId }, new { @class = "btn btn-danger btn-action" })
                    </td>


                </tr>
            }
        </tbody>
    </table>
    <div>
        @Html.ActionLink("Nueva mascota", "Create", null, new { @class = "btn btn-info" })
    </div>
</body>
</html>